@define-mixin heading $size {
  font-weight: 600;
  font-size: $size;
  line-height: calc($size * 1.5);
}

.o-heading {
  &--h1 {
    @mixin heading $gH1;
  }
  &--h2 {
    @mixin heading $gH2;
  }
  &--h3 {
    @mixin heading $gH3;
  }
  &--h4 {
    @mixin heading $gH4;
  }
  &--h5 {
    @mixin heading $gH5;
  }
  &--h6 {
    @mixin heading $gH6;
  }
  &--no-margin {
    margin: 0;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}
